
.Page-navigation {
    color: antiquewhite;
    display: flex;
    padding: 3%;
    justify-content: space-around;
    background-color: #524439;
    font-weight: 700;
}
.Page-navigation a {
    color: inherit; 
    text-decoration: none; 
}

/*left pic right text*/
.pharagraph-right {
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.left-pic {
    display: flex;
}

.right-pharagraph {
    margin: 50px;

    h2 {
        color: #005B49;
    }
}

/*left text right text*/
.pharagraph-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #524439;
    color: antiquewhite;
}

.right-pic {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
}

.left-pharagraph {
    margin-left: 90px;

    h2 {
        color: #FFEACD;
    }
}

/*footer contact*/
.horizontal-bar {
    padding: 5px;
    background-color: #B39D62;
}

.allfooter {
    display: flex;
    margin: 30px;
    margin-left: 90px;
}

.footer2 {
    margin-left: 60px;

}

.adopt-page-pharagraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 200px;
  
}

.adopt-page-pharagraph h2{
  margin-top: 100px;

}